@charset "UTF-8";

body {
    color: #444444;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
}

pre, code, kbd {
    font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;
    font-size: inherit;
}

img, .plotly, .rglWebGL {
    display: inline-block;
    vertical-align: top;
}

body .main-container {
    max-width: inherit;
}
